{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <div class="masonry">
        {% for post in posts %}
            <div class="card shadow-sm mb-3">
              <img src="{{ post.thumbnail_url }}" class="img-fluid rounded mb-2">
              <div class="card-img-overlay fs-4">
                <span class="badge text-bg-danger" style="background-color: black;">{{ post.types }}</span>
              </div>
              <div class="card-img-overlay fs-4 text-end">
                <span class="badge text-bg-primary" style="background-color: black;">{{ post.category }}</span>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <a href="{% url 'post_detail' post.unique_id %}" class="btn btn-primary">Read More</a>
                </div>
                <div class="mt-2">
                  <p>
                    {% for g in post.group %}
                      #{{ g }}
                    {% endfor %}
                  </p>
                </div>
              </div>
              <div class="card-footer text-muted">
                <p class="fs-6">Diupdate {{ post.updated_at }}</p>
              </div>
            </div>
        {% endfor %}
      </div>
      <div class="d-grid gap-2 justify-content-center my-4">
        <a href="">
          <button class="btn btn-primary" type="button">
            Load More
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, vel. Eaque dolorem provident adipisci ad illum cum dignissimos molestiae officiis, magnam sit, et obcaecati debitis expedita quisquam nemo! Dolore, laudantium?</p>
    </div>
  </div>
{% endblock %}

{% comment %} ini buat ngasih contoh kartu berita dengan overlay {% endcomment %}
{% comment %} <div class="card news-card shadow-sm mb-3 text-white">
              <img src="{{ post.thumbnail_url }}" class="card-img">
              <div class="card-img-overlay">
                {% for type in post.type %}
                  <span class="badge text-bg-dark" style="background-color: black;">#{{ type }}</span>
                {% endfor %}
              </div>
              <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
                <div class="news-overlay mt-2 ms-2 me-2">
                  <div class="text-center">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="text end">
                      <a href="{% url 'post_detail' post.unique_id %}" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}