{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <div class="masonry">
        {% for post in posts %}
            <div class="card shadow-sm mb-3">
              <img src="{{ post.featured_image_url }}" class="img-fluid rounded mb-2">
              <div class="card-body text-center">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                <a href="{% url 'post_detail' post.unique_id %}" class="btn btn-primary">Read More</a>
              </div>
              <div class="card-footer text-muted">
                <p class="fs-6">Diupdate {{ post.updated_at }}</p>
              </div>
            </div>
        {% endfor %}
          
      </div>
    </div>
    <div class="col-sm-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, eius.</p>
    </div>
  </div>
{% endblock %}
