{% extends 'base.html' %}

{% load static %}
{% block content %}
  <div class="position-relative">
    <!-- hotline blog -->
    <span class="badge bg-danger position-absolute top-0 start-0 m-2">HOT</span>
    <div id="carouselSlider" class="carousel slide mb-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for b in berita_panas %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
            <img src="{{ b.thumbnail_url }}" class="d-block w-100" alt="{{ forloop.counter }}" style="width: auto; height: 300px" />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ b.title }}</h5>
              <p>{{ b.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- card masonry blog -->
    <h4 class="title-line" style="border-color: darkblue;">Tips</h4>
    <div class="card-grid mt-4">
      {% for post in posts %}
        <a href="{% url 'post_detail' post.unique_id post.slug %}">
          <div class="card shadow-sm mb-3">
            <img src="{{ post.thumbnail_url }}" class="img-fluid rounded mb-2" />
            <div class="card-img-overlay fs-4">
              <span class="badge text-bg-danger" style="background-color: black">{{ post.types }}</span>
            </div>
            <div class="card-img-overlay fs-4 text-end">
              <span class="badge text-bg-primary" style="background-color: black">{{ post.category }}</span>
            </div>
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">{{ post.title }}</h5>
              </div>
              <div class="mt-2">
                <p>
                  {% for g in post.groups %}
                    #{{ g }}
                  {% endfor %}
                </p>
              </div>
            </div>
            <div class="card-footer text-muted">
              <p class="fs-6">Diupdate {{ post.updated_at }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="d-grid gap-2 justify-content-center my-4">
      <a href=""><button class="btn btn-primary" type="button">Load More</button></a>
    </div>
  </div>
{% endblock %} {% comment %}ini buat ngasih contoh kartu berita dengan overlay{% endcomment %} {% comment %}
<div class="card news-card shadow-sm mb-3 text-white">
  <img src="{{ post.thumbnail_url }}" class="card-img" />
  <div class="card-img-overlay">
    {% for type in post.type %}
      <span class="badge text-bg-dark" style="background-color: black">#{{ type }}</span>
    {% endfor %}
  </div>
  <div class="card-img-overlay d-flex flex-column justify-content-end p-0">
    <div class="news-overlay mt-2 ms-2 me-2">
      <div class="text-center">
        <h5 class="card-title">{{ post.title }}</h5>
        <div class="text end">
          <a href="{% url 'post_detail' post.unique_id %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
